*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* Google fonts */
/* font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif; */

html, body{
	height: 100%;
	line-height: 1.6;
	font-size: 1.1rem;
	letter-spacing: 0.02rem;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	background-color:ghostwhite;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* The beginning of the Nav Bar */
.nav-bar-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #333;
	max-width: 1200px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.nav-bar-li-logo {
	float: left;
}

.nav-bar-li-name {
	float: left;
}

.just-li {
	float: right;
}

.nav-bar-li-name a, .nav-bar-li-logo a {
	display: block;
	color: gainsboro;
	text-align: center;
	padding: 0.75rem 1rem;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

.nav-bar-li-logo a {
	cursor: default;
	color: rgba(170, 249, 252, 0.87);
}

.nav-bar-li-name a:hover {
	background-color: rgba(96, 228, 252, 0.288);
	color: whitesmoke;
	transition: 0.5s ease;
}

/* The ending of the Nav Bar */

/* The beginning of the Mobile (Responsive) menu */
.icon-nav-bar-set {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
}

.icon-nav-bar-set:hover {
	transform: scale3d(1.2, 1.2, 0.9);
}

@media screen and (max-width: 46em) {
	.nav-bar-li-name,
	.nav-bar-li-logo {
		text-align: left;
		float: none;
		top: 0;
		left: 0;
	}
	.just-li {
		float: none;
	}
	/* Show Responsive Nav Bar */
	.divnav.responsive a
	{
		display: block;
	}
	.nav-bar-li-name a,
	.nav-bar-li-logo a {
		text-align: left;
	}
	.nav-bar-li-name a {
		display: none;
	}
	.icon-nav-bar-set {
		display: block;
		padding: 0.8rem 1rem;
		text-align: right;
	}
	.icon-nav-bar-set a {
		color: gainsboro;
	}
	.nav-bar-li-logo a {
		font-size: 1rem;
	}
}

/* The ending of the Mobile (Responsive) menu */

.main {
	flex: 1 1 auto;
	background-color: rgba(166, 195, 196, 0.199);
}

.footer {
	background-color: ivory;
}